<a class="scene-page__logo home-page__logo" href="/">
    <img src="https://i.pinimg.com/originals/90/9a/08/909a08d7caa58998f3f844e8c64f531d.png" alt="logo" class="scene-page__logo-picture home-page__logo-picture">
    <p class="scene-page__companyName home-page__companyName">
        <span class="scene-page__firstHalf home-page__firstHalf">{{ logo.companyName.firstHalf }}</span>{{ logo.companyName.secondHalf }}
    </p>
</a>
